{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-decorators",
    "transform-class-properties"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"],
      "plugins": [
        ["babel-plugin-react-css-modules", {
          "generateScopedName": "[path]-[name]_[local]_[hash:base64:5]",
          "webpackHotModuleReloading": true,
          "filetypes": {
            ".sass": {
              "syntax": "postcss-sass"
            }
          }
        }]
      ]
    },
    "production": {
      "plugins": [
        ["babel-plugin-react-css-modules", {
          "generateScopedName": "[name]-[local]-[hash:base64:6]",
          "filetypes": {
            ".sass": {
              "syntax": "postcss-sass"
            }
          }
        }]
      ]
    }
  }
}
